
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Список товаров";
}
<p>
    <a asp-controller="Home" asp-action="CreateProduct" class="btn btn-success">Создать</a>  @*asp-area="Admin" не указываем*@
</p>

@using (Html.BeginForm())
{
    <p>
        Найти: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Id), "ProductList", new { sortOrder = "Id", sortOrderOld = ViewBag.SortOrder })

            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "ProductList", new { sortOrder = "Name", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Order), "ProductList", new { sortOrder = "Order", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SectionId), "ProductList", new { sortOrder = "SectionId", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.BrandId), "ProductList", new { sortOrder = "BrandId", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.ImageUrl), "ProductList", new { sortOrder = "ImageUrl", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Price), "ProductList", new { sortOrder = "Price", sortOrderOld = ViewBag.SortOrder })
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SectionId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Детали", "DetailsProduct", new { Area = "Admin", id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditProduct", new { Area = "Admin", id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteProduct", new { Area = "Admin", id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


